<div class="subnavbar-inner" ng-controller="NavigationCntrl">
    <div class="container">
      <ul class="mainnav">
        <li class="{{activeDash}}"><a href="javascript:void(0);" ng-click="showHome()"><i class="icon-dashboard"></i><span>Dashboard</span></a></li>  
        <li class="{{activeMsg}}"><a href="javascript:void(0);" ng-click="showMessages()"><i class="icon-comments"></i><span>Messages</span></a></li>
        <li class="{{activeUser}}"><a href="javascript:void(0);" ng-click="showUsers()"><i class="icon-group"></i><span>Users</span></a></li>
        <li class="{{activeSettings}}"><a href="javascript:void(0);" ng-click="showSettings()"><i class="icon-cog"></i><span>Settings</span></a></li>
      </ul>
    </div> <!-- /container --> 
</div> <!-- /subnavbar-inner -->