<div class="row">
	<div class="span12">
	      	<div class="widget">
			<div class="widget-header">
				<i class="icon-info-sign"></i>
				<h3>Help</h3>
			</div> <!-- /widget-header -->
			<div class="widget-content">
				<!--<h3>Search</h3>-->
				<ol class="faq-list">
					<li>
						<h4>Dashboard</h4>
						<p>The user interface for providing an overview of statistics. It has statistics of sale and purchase on daily, monthly and yearly basis.
						The same has been portraited in a chart as well</p>
					</li>
					<li>
						<h4>Billing</h4>
						<p>To view as well as for adding sales and purchase bills</p>
					</li>
								
				</ol>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->	
	</div> <!-- /spa12 -->
</div> <!-- /row -->